@CHARSET "UTF-8";

body{
	background-color: rgba(0, 0, 0, 0.8);
}
.main{
	width: 980px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	position: relative;
	font-weight: 500;
	font: 16px Arial regular;
}
.main input{
	font: 11pt Arial regular;
}
.main a {
	text-decoration: none;
	color: white;
}
.main a:hover{
	color: rgba(211, 211, 211, 1);
}
.header{
	height: 100px;
}
.header .header_menu{
	width: 650px;
	float: right;
	padding-top: 35px;
}
.header img  {
	float: left;
}
.header ul>li{
	display: inline-block;
	width: 100px;
}
.header .header_menu ul>li{
	font: 11pt Arial regular;
	line-height: 20px;
}
.header .autorization{
	background: url(/img/autorization.png) no-repeat;
	padding-left: 40px;
	height: 23px;
}
.header .registration{
	background: url(/img/registration.png) no-repeat;
	padding-left: 40px;
	height: 23px;
}
.header .add_some{
	background: url(/img/registration.png) no-repeat;
	padding-left: 36px;
	height: 23px;
}
.header .home{
	background: url(/img/Home.png) no-repeat;
	padding-left: 40px;
	height: 23px;
	width: 70px;
}
.header .add{
	background: url(/img/Home.png) no-repeat;
	width: 100px;
	height: 23px;
	text-align: left;
	padding:0 0 0 36px;
	color: white;
}
.header .logout{
	background: url(/img/Home.png) no-repeat;
	padding-left: 40px;
	height: 23px;
	width: 70px;
}
.content{	
	padding: 10px 0 30px 0;
}
.content .form{
	background: url(/img/add_contact_grad.png) repeat-x;
	width: 386px;
	height: 631px;
	margin: 0 auto;
	position: relative;
}
.content .form  .view_plase{
	width: 220px;
}
.content .form  .view_plase .info{
	padding-left: 10px;
	float: right;
}
.content .form:before{
	background: url(/img/add_contact_left.png) no-repeat;
	display: block;
	width:20px;
	height: 631px;
	content: '';
	left: -20px;
	top: 0;
	position: absolute;
}
.content .form:after{
	background: url(/img/add_contact_right.png) no-repeat;
	display: block;
	width:22px;
	height: 631px;
	content: '';
	right: -20px;
	top: 0;
	position: absolute;
}
.content .form .information{
	display: block;
	padding: 38px 0 14px 68px;
	font: 16pt Arial regular;
}
.content .form ul{
	padding: 0 0 0 68px;
	width: 315px;
}
.content .form ul>li{
	font: 11pt Arial regular;
	padding-top: 14px;
	height: 21px;
}
.content .form ul>li span{
	float: left;
	font: 11pt/21px Arial regular;
}
.content .form ul>li input{
	float: right;
	height: 21px;
	width: 220px;
	color: black;
}
.content .form ul>li .input{
	height: 14px;
	width: 210px;
}
.content .form ul>li .radio{
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
}
.content .form ul>li .telephone{
	width: 60px;
}
.content .form ul>li .date{
	width: 95px;
}
.content .contact {
	width: 720px;
	margin: 0 100px 0 170px;
	padding-top: 55px;
}
.content .contact .table{
	background: url(/img/contact_grad.png) repeat-x;
	display: block;
	width:660px;
	height: 264px;
	position: relative;
}
.content .contact .table .telephone{
	width:100px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 20px;
}
.content .contact .table .emails{
	overflow: hidden;
	text-overflow: ellipsis;
	width: 150px;
}
.content .contact .table:before{
	background: url(/img/contact_left.png) no-repeat;
	display: block;
	width:20px;
	height: 264px;
	content: '';
	left: -20px;
	top: 0;
	position: absolute;
}
.content .contact .table:after{
	background: url(/img/contact_right.png) no-repeat;
	display: block;
	width:23px;
	height: 264px;
	content: '';
	right: -20px;
	top: 0;
	position: absolute;
}
.content .contact .table .first_name{
	width: 130px;
	padding: 10px 0 3px 30px;
}
.content .contact .table .last_name{
	width: 130px;
	padding: 10px 0 3px 4px;
}
.content .contact .table .email{
	width: 150px;
	padding-top: 10px;
}
.content .contact .table .cell{
	width: 118px;
	padding: 10px 0 3px 20px;
}
.content .contact .table .name{
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-top: 17px;
}
.content .contact .table .action_plase{
	width: 90px;
	padding: 10px 0 3px 6px;
	text-align: center;
}
.content .contact tr{
	display: inline-block;
	width: 712px;
	height: 30px;
	position: relative;
	font: 13pt Arial bold;
}
.content .contact .top {
	width: 700px;
	height: 33px;
	border-radius: 25px 25px 0 0;
	font: 10pt Arial regular;
}
.content .contact tr>td {
	padding-top: 20px;
}
.content .contact tr>td .check {
	width: 16px;
	height: 16px;
	margin: 0 5px;
}
.content .contact .sort{
	width: 16px;
	height: 25px;
	font-size: 15px;
	font-weight: 800;
	border-radius: 8px 8px 0 0;
	background: none;
	outline: none;
	border: 0;
	cursor: pointer;
	padding: 0;
}
.content .contact .sort:hover{
	color: red;
}
.content .contact .view_contact{
	background: linear-gradient(to top, #000, #fff);
}
.content .contact .page{
	width: 20px;
	background: none;
	outline: none;
	border: 0;
	cursor: pointer;
	padding: 0;
}
.content .contact .page_active{
	background: none;
	width: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	border: 0;
}
.contact .action{
	width: 110px;
	font: 13px Arial regular;
	position: relative;
}
.contact .delete{		
	width: 30px;
	height: 18px;
	text-align: center;
	color: 	#363636;
	position: absolute;
	right: -35px;
	top: 20px;
	z-index: 500;
}
.contact .table tr:hover .delete{
	background: url(/img/delete.png) no-repeat;
}
.contact .edit{
	background: url(/img/edit.png) no-repeat;
	border-radius: 7px;
	width: 36px;
	height: 18px;
	float: left;
	text-align: center;
	margin-bottom: 3px;
	margin-left: 28px;
}
.contact .view{
	background: url(/img/view.png) no-repeat;
	right: -5px;
	width: 40px;
	height: 18px;
	text-align: center;
	margin-bottom: 3px;
	position: absolute;
	z-index: 500;
}
.contact .number{
	width: 25px;
	height: 15px;
	margin-top: 6px;
}
.content .next{
	background: url(/img/next.png) no-repeat;
	width: 80px;
	height: 15px;
	outline: none;
	border: 0;
	cursor: pointer;
}
.content  .contact .back{
	background: url(/img/prew.png) no-repeat;
	width: 80px;
	height: 15px;
	outline: none;
	border: 0;
	cursor: pointer;
}
.content .content_autorization{
	margin: 0 auto;
	padding: 20px 0 50px 0;
	width: 368px;
	height: 262px;
	background: url(/img/login_grad.png) repeat-x;
	position: relative;
}
.content .content_autorization:before{
	width: 30px;
	height: 262px;
	position: absolute;
	content: '';
	left: -30px;
	top: 0;
	background: url(/img/login_left.png) no-repeat;
}
.content .content_autorization:after{
	width: 30px;
	height: 262px;
	position: absolute;
	content: '';
	right: -30px;
	top: 0;
	background: url(/img/login_right.png) no-repeat;
}
.content .content_autorization .name_menu{
	padding: 5px 0 15px 70px;
	font-size: 20px;
	font: 16pt Arial regular; 
}

.content .content_autorization .input_text{
	width: 300px;
	padding: 10px 0 0 70px;
}
.content .content_autorization .input_text p{
	float: left;
	width: 86px;
	height: 20px;
	line-height: 20px;
	padding-top: 5px;
	font: 11pt Arial regular;
}
.content .content_autorization ul{
	padding-top: 15px;
}
.content .content_autorization li{
	padding:5px 0 0 160px;
	font: 11pt Arial regular;
	text-decoration: underline;
}
.content .content_autorization .submit_autorization{
	background: url(/img/input.png) no-repeat;
	width: 95px;
	outline: none;
	border: 0;
	color: white;
	cursor: pointer;
	margin: 30px auto;
	display: block;
}
.content .content_autorization .submit_registration{
	background: url(/img/registration.png) no-repeat;
	width: 150px;
	outline: none;
	border: 0;
	cursor: pointer;
	margin: 30px auto;
	display: block;
}
.content .content_autorization .submit:hover{
	color: rgba(211, 211, 211, 0.2);
}
.content .pagination{
	background: url(/img/bottom_menu.png) no-repeat;
	width: 500px;
	height: 45px;
	margin: 0 auto;
	border-radius: 0 0 35px 35px;
	position: relative;
	padding-bottom: 50px;
}
.content .pagination ul{
	padding: 10px 0;
	height: 20px;
}
.content .pagination ul>li{
	display: inline-block;
}
.content .pagination .back_plase{
	height: 35px;
	width: 100px;
	padding-left: 20px;
	position: absolute;
	left: 30px;
	top: 10px;
}
.content .pagination .next_plase{
	height: 35px;
	width: 50px;
	position: absolute;
	left: 395px;
	top: 10px;
}
.content .pagination .page_plase{
	height: 35px;
	width: 180px;
	position: absolute;
	left: 165px;
	text-align: center;
	top: 6px;
}
.footer{
	width: 100%;
	position: absolute;
	bottom: -10px;
	height: 30px;
}
.footer span{
	display: block;
	width: 200px;
	margin: 0 auto;
}
.content .contact .all{
	padding: 14px 4px 8px 3px;
	width: 25px;
}
.content .contact .table_menu{
	padding: 6px 0 1px 0;
	width: 132px;
	height: 15px;
}
.content .contact .cell_plase{
	padding: 6px 0 1px 40px;
	width: 132px;
	height: 15px;
}
.content .done{
	background: url(/img/input.png) no-repeat;
	margin: 34px 0 0 190px;
	width: 110px;
	color: white;
	font: 11pt Arial regular;
}
.content .back{
	background: url(/img/input.png) no-repeat;
	margin: 34px 0 0 140px;
	width: 110px;
	color: white;
	font: 11pt Arial regular;
	display: block;
	text-align: center;
	padding-top: 3px;
}
.email{
	width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.clear{
	clear: both;
}