@CHARSET "UTF-8";

body{
	background-color: rgba(0, 0, 0, 0.8);
}
.main{
	width: 980px;
	min-height: 700px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	position: relative;
	font-weight: 500;
	font: 16px Arial regular;
}
.main input{
	font: 11pt Arial regular;
}
.main a {
	text-decoration: none;
	color: white;
}
.main a:hover{
	color: rgba(211, 211, 211, 1);
}
.header{
	height: 100px;
}
.header .header_menu{
	width: 650px;
	float: right;
	padding-top: 35px;
}
.header img  {
	float: left;
}
.header ul>li{
	display: inline-block;
	width: 100px;
}
.header .header_menu ul>li{
	font: 11pt Arial regular;
	line-height: 20px;
}
.header .autorization{
	background: url(/img/autorization.png) no-repeat;
	padding-left: 40px;
	height: 23px;
}
.header .registration{
	background: url(/img/registration.png) no-repeat;
	padding-left: 40px;
	height: 23px;
}
.header .add_some{
	background: url(/img/registration.png) no-repeat;
	padding-left: 36px;
	height: 23px;
}
.header .home{
	background: url(/img/Home.png) no-repeat;
	padding-left: 40px;
	height: 23px;
	width: 70px;
}
.header .add{
	background: url(/img/Home.png) no-repeat;
	width: 100px;
	height: 23px;
	text-align: left;
	padding:0 0 0 36px;
	color: white;
}
.header .logout{
	background: url(/img/Home.png) no-repeat;
	padding-left: 40px;
	height: 23px;
	width: 70px;
}
.content{
	height: 300px;
	padding:75px 0 25px 0;
}
.content .contact {
	width: 720px;
	margin: 0 auto;
}
.content .contact .table{
	background: url(/img/for_contact.png) no-repeat;
	display: block;
	width:712px;
	height: 264px;
	border-radius: 30px;
}
.content .contact .table .first_name{
	width: 130px;
	padding: 10px 0 3px 52px;
}
.content .contact .table .last_name{
	width: 140px;
	padding: 10px 0 3px 14px;
}
.content .contact .table .email{
	width: 140px;
	padding: 10px 0 3px 0;
}
.content .contact .table .cell{
	width: 118px;
	padding: 10px 0 3px 30px;
}
.content .contact .table .name{
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
}
.content .contact .table .action_plase{
	width: 90px;
	padding: 10px 0 3px 30px;
	text-align: center;
}
.content .contact tr{
	display: inline-block;
	width: 712px;
	position: relative;
	font: 13pt Arial bold;
}
.content .contact .top {
	width: 700px;
	height: 40px;
	border-radius: 25px 25px 0 0;
	font: 10pt Arial regular;
}
.content .contact tr>td {
	padding: 9px 0 0 23px;
}
.content .contact .sort{
	width: 16px;
	height: 25px;
	font-size: 15px;
	font-weight: 800;
	border-radius: 8px 8px 0 0;
	background: none;
	outline: none;
	border: 0;
	cursor: pointer;
	padding: 0;
}
.content .contact .sort:hover{
	color: red;
}
.content .contact .view_contact{
	background: linear-gradient(to top, #000, #fff);
}
.content .contact .page{
	width: 20px;
	background: none;
	outline: none;
	border: 0;
	cursor: pointer;
	padding: 0;
}
.content .contact .page_active{
	background: none;
	width: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	border: 0;
}
.contact .action{
	width: 110px;
	font: 13px Arial regular;
}
.contact .delete{
	width: 700px;
	height: 18px;
	float: right;
	text-align: center;
	color: 	#363636;
	position: absolute;
	right: -30px;
	top: 10px;
	
}
.contact .delete:hover{
	background: url(/img/delete.png) no-repeat;
	background-position: right;
}
.contact .edit{
	background: url(/img/edit.png) no-repeat;
	border-radius: 7px;
	width: 36px;
	height: 18px;
	float: left;
	text-align: center;
	margin-bottom: 3px;
	margin-left: 28px;
}
.contact .view{
	background: url(/img/view.png) no-repeat;
	border-radius: 7px 0 0 7px;
	width: 40px;
	height: 18px;
	float: right;
	text-align: center;
	margin-bottom: 3px;
}
.contact .number{
	width: 25px;
	height: 15px;
	margin-top: 6px;
}
.content .next{
	background: url(/img/next.png) no-repeat;
	width: 80px;
	height: 15px;
	outline: none;
	border: 0;
	cursor: pointer;
}
.content  .contact .back{
	background: url(/img/prew.png) no-repeat;
	width: 80px;
	height: 15px;
	outline: none;
	border: 0;
	cursor: pointer;
}
.content .content_autorization{
	margin: 0 auto;
	padding-top: 20px;
	width: 430px;
	height: 260px;
	background: url(/img/content_grad_login.png);
	border-radius: 30px;
}
.content .content_autorization .name_menu{
	padding: 5px 0 15px 70px;
	font-size: 20px;
	font: 16pt Arial regular; 
}

.content .content_autorization .input_text{
	width: 300px;
	padding: 10px 0 0 70px;
}
.content .content_autorization .input_text p{
	float: left;
	width: 86px;
	height: 20px;
	line-height: 20px;
	padding-top: 5px;
	font: 11pt Arial regular;
}
.content .content_autorization ul{
	padding-top: 15px;
}
.content .content_autorization li{
	padding:5px 0 0 160px;
	font: 11pt Arial regular;
	text-decoration: underline;
}
.content .content_autorization .submit_autorization{
	background: url(/img/input.png) no-repeat;
	width: 95px;
	outline: none;
	border: 0;
	cursor: pointer;
	margin: 30px auto;
	display: block;
}
.content .content_autorization .submit_registration{
	background: url(/img/registration.png) no-repeat;
	width: 150px;
	outline: none;
	border: 0;
	cursor: pointer;
	margin: 30px auto;
	display: block;
}
.content .content_autorization .submit:hover{
	color: rgba(211, 211, 211, 0.2);
}
.content .pagination{
	background: url(/img/bottom_menu.png) no-repeat;
	width: 500px;
	height: 45px;
	margin: 0 auto;
	border-radius: 0 0 35px 35px;
	position: relative;
}
.content .pagination ul{
	padding: 10px 0;
	height: 20px;
}
.content .pagination ul>li{
	display: inline-block;
}
.content .pagination .back_plase{
	height: 35px;
	width: 100px;
	padding-left: 20px;
	position: absolute;
	left: 30px;
	top: 10px;
}
.content .pagination .next_plase{
	height: 35px;
	width: 50px;
	position: absolute;
	left: 395px;
	top: 10px;
}
.content .pagination .page_plase{
	height: 35px;
	width: 180px;
	position: absolute;
	left: 165px;
	text-align: center;
	top: 6px;
}
.footer{
	width: 100%;
	position: absolute;
	bottom: -10px;
	height: 30px;
}
.footer span{
	display: block;
	width: 200px;
	margin: 0 auto;
}
.content .contact .all{
	padding: 14px 4px 8px 22px;
	width: 25px;
}
.content .contact .table_menu{
	padding: 6px 0 1px 0;
	width: 132px;
	height: 15px;
}
.content .contact .cell_plase{
	padding: 6px 0 1px 30px;
	width: 132px;
	height: 15px;
}
.email{
	width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.telephone{
	width:100px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.line{
	border-bottom: 1px solid gray; 
}
.line:last-child{
	border-bottom: 0; 
}
.clear{
	clear: both;
}