@CHARSET "UTF-8";

body{
	background-color: rgba(0, 0, 0, 0.8);
}
.main{
	width: 980px;
	min-height: 700px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	position: relative;
	font-weight: 500;
	font: 16px Arial regular;
}
.main a {
	text-decoration: none;
	color: white;
}
.main a:hover{
	color: rgba(211, 211, 211, 1);
}
.header{
	height: 100px;
}
.header .header_menu{
	width: 650px;
	float: right;
	padding-top: 35px;
}
.header img  {
	float: left;
}
.header ul>li{
	display: inline-block;
	width: 100px;
}
.header .autorization{
	background: url(/img/autorization.png) no-repeat;
	padding-left: 40px;
	height: 23px;
}
.header .registration{
	background: url(/img/registration.png) no-repeat;
	padding-left: 40px;
	height: 23px;
}
.content{
	height: 300px;
	padding:75px 0 50px 0;
}
.content .content_autorization{
	margin: 0 auto;
	padding-top: 20px;
	width: 600px;
	height: 260px;
	background: url(/img/content_grad_login.png);
	border-radius: 30px;
}
.content .content_autorization .name_menu{
	padding: 5px 0 15px 40px;
	font-size: 20px;
}
.content .content_autorization input{
	border-radius: 6px;
}
.content .content_autorization .input_text{
	width: 500px;
	padding: 10px 0 0 10px;
}
.content .content_autorization .input_text p{
	float: left;
	width: 100px;
	height: 20px;
	line-height: 20px;
}
.content .content_autorization ul{
	padding-top: 15px;
}
.content .content_autorization li{
	padding:5px 0 0 25px;
	font-size: 12px;
}
.content .content_autorization .submit_autorization{
	background: url(/img/input.png) no-repeat;
	width: 95px;
	outline: none;
	border: 0;
	cursor: pointer;
	margin: 0 auto;
	display: block;
}
.content .content_autorization .submit_registration{
	background: url(/img/registration.png) no-repeat;
	width: 150px;
	outline: none;
	border: 0;
	cursor: pointer;
	margin: 0 auto;
	display: block;
}
.content .content_autorization .submit:hover{
	color: rgba(211, 211, 211, 0.2);
}
.footer{
	width: 100%;
	position: absolute;
	bottom: -10px;
	height: 30px;
}
.footer span{
	display: block;
	width: 200px;
	margin: 0 auto;
}
.clear{
	clear: both;
}