@CHARSET "UTF-8";

.scrollbar
{
	height: 300px;
	width: 165px;
	background: #F5F5F5;
	overflow-y: scroll;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

#style::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#style::-webkit-scrollbar
{
	width: 6px;
}

#style::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
