<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">

<title>project</title>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/reset.css">

<script src="/js/jquery-2.2.0.js"></script>

</head>
<body>
<div class="main">
	<div class="header">
		<a href="/"><img src="/img/logotip.png" alt="logotip"></a>
		<div class="header_menu">
			<ul>		
				<li><a class="autorization" href="<?= $html->url(array('controller'=>'users', 'action'=>'autorization')) ?>">Autorization</a> </li>
				<li><a class="registration" href=" <?= $html->url(array('controller'=>'users', 'action'=>'registration')) ?>">Registration</a> </li>	
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="content_autorization">
			<p class="name_menu">Autorization</p>
			
			<form name="login" action="autorization" method="POST">
			
			<div id="user_login" class="input_text">
				<p>Login:</p>
				<input id="login" onChange='num()' type="text" name="login"
				
					value="<?= ( ! empty ( $post['login'] ) ) ? $post['login'] : ''; ?>"
					size="35">
			</div>
			<div class="input_text">
				<p>Password:</p>
				<input type="password" name="password" size="35">
			</div>
			
				<ul>
					<li><a href="<?= $html->url(array())?>">Forgot password?</a></li>
					<li><a href="<?= $html->url(array('controller'=>'users', 'action'=>'registration')) ?>">Register Now</a></li>
				</ul>
				<div class="submit_autorization">
					<input type="submit" name="enter" value="Login">
				</div>
				</form>
			</div>
	</div>
	<div class="footer">
		<span>&#169 2007 Wise Engineering</span>
	</div>
</div>
<script>
	
function num()
{	
	$('.user_exist').remove();
	$('.no_user').remove();
	
	var login = $('#login').val();
	
	$.ajax({
		type: 'post',
		url: '/users/ajax_login',
		data:{'text': login},
		response:'html',
		success: function(data){		
			$('#user_login').append(data);	
		},
		error: function(data){
			
		}			  
	});
}
</script>
</body>
</html>