<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title>project</title>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/reset.css">

</head>
<body>
<div class="main">
	<div class="header">
		<a href="/"><img src="/img/logotip.png" alt="logotip"></a>
		<div class="header_menu">
			<ul>	 
				<li><a class="autorization" href="<?= $html->url(array('controller'=>'users', 'action'=>'autorization')) ?>">Autorization</a> </li>
				<li><a class="registration" href=" <?= $html->url(array('controller'=>'users', 'action'=>'registration')) ?>">Registration</a> </li>	
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="content_autorization">
			<p class="name_menu">Registration</p>
			<form name="login" method="POST" action="registration">
			<div class="input_text">
				<p>Login:</p>			
				<input type="text" name="login"		
					value="<?= ( ! empty ( $post['login'] ) ) ? $post['login'] : ''; ?>"
					size="35">
			</div>
			<div class="clear"></div>
			<div class="input_text">
				<p>Password:</p>		
				<input type="password" name="password1" value="" size="35">
			</div>
			<div class="clear"></div>
			<div class="input_text">
				<p>Password:</p>				
				<input type="password" name="password2" value="" size="35"></br> </br>
			</div>
			<div class="clear"></div>
			<div class="submit_registration">
				<input type="submit" name="enter" value="Registration">
		  </div>
			</form>
		</div>
	</div>
	<div class="footer">
		<span>&#169 2007 Wise Engineering</span>
	</div>
</div>
</body>
</html>