<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title>project</title>

<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/reset.css">

</head>
<body>
	<ul>
		 
		<li> <a href="<?= $html->url(array('controller'=>'users', 'action'=>'autorization')) ?>">Autorization</a> </li>
		<li> <a href=" <?= $html->url(array('controller'=>'users', 'action'=>'registration')) ?>">Registration</a> </li>
		
	</ul>
	<p>Registration</p>
	<form name="login" method="POST" action="registration">

		<p>Login:</p>
		<input type="text" name="login"
		
			value="<?= ( ! empty ( $post['login'] ) ) ? $post['login'] : ''; ?>"
			size="35">

		<p>Password:</p>
		<input type="password" name="password1" value="" size="35">

		<p>Password:</p>
		<input type="password" name="password2" value="" size="35"></br> </br>
		<input type="submit" name="enter" value="Registration">

	</form>
</body>
</html>