<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title></title>

</head>
<body>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/user_controllers/autorization">Autorization</a></li>
		<li><a href="/user_controllers/registration">Registration</a></li>
		<li><a href="/user_controllers/logout">Logout</a></li>
	</ul>
	<p>Registration</p>
	<form name="login" method="POST" action="/user_controllers/registration">

		<p>Login:</p>
		<input type="text" name="login"
			value="<?= (!empty($_POST['login'])) ? $_POST['login'] : ''; ?>"
			size="35">

		<p>Password:</p>
		<input type="password" name="password1" value="" size="35">

		<p>Password:</p>
		<input type="password" name="password2" value="" size="35"></br> </br>
		<input type="submit" name="enter" value="Registration">

	</form>
</body>
</html>