<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title>project</title>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<script src="/js/jquery-2.2.0.js"></script>
<script src="/js/validation.js"></script>

<?= (DEBUG === 1) ? '<link rel="stylesheet" type="text/css" href="/css/debug.css">' : '' ;?>

</head>
<body>
<script>
var valid = new Valid();
</script>
<div class="main">
	<div class="header">
		<a href="/"><img src="/img/logotip.png" alt="logotip"></a>
		<div class="header_menu">
			<ul>	
				<li><a class="home" href=" <?= $html->url(array()) ?>">Home</a> </li>
				<li><a class="home" href=" <?= $html->url(array('controller'=>'users', 'action'=>'logout')) ?>">Logout</a> </li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="form">
			<form name="addcontact" method="POST" action="/contacts/add/">
				<span class="information">Information</span>
				<ul>				
					<li><span>First Name:</span> <input data="text, 10" type="text" name="FirstName" onChange="valid.validation($(this))"
					
						value="<?= ( ! empty ( $post['FirstName'] ) ) ?  $post['FirstName'] : '' ;?>"
						size="25">
						<?= ( empty ( $post['FirstName'] ) && $val == 1 ) ? '<div class="input_text">input some name</div>' : '' ;?>
						<div class="valid"></div>
					</li>
						
					<li><span>Last Name:</span> <input data="text" type="text" name="LastName" onChange="valid.validation($(this))"
					
						value="<?= ( ! empty ( $post['LastName'] ) ) ? $post['LastName'] : '';?>"
						size="25">
						<?= ( empty ( $post['LastName'] ) && $val == 1 ) ? '<div class="input_text">input some name</div>' : '' ;?>
						<div class="valid"></div>
					</li>
						
					<li><span>E-mail:</span> <input data="mail" onChange="valid.validation($(this))" type="email" name="Email" onChange="num(obj=$(this))"
					
						value="<?= ( ! empty ( $post['Email'] ) ) ? $post['Email'] : '';?>"
						size="25">
						<?= ( empty ( $post['Email'] ) && $val == 1 ) ? '<div class="input_text">input some email</div>' : '' ;?>
						<div class="valid"></div>
					</li>
						
					<li><span class="telephone">Home:</span>
					<input onClick="valid.select_telephone_validation($(this))" class="radio" type="radio" name="radio" value="Home" 
						<?= ($check == 'Home') ? 'checked' : '' ?>>
					
						<input data="number" type="text" name="Home" 
						value="<?= ( ! empty ( $post['Home'] ) ) ? $post['Home'] : '';?>"
						size="25">
						<?= ( empty ( $post['Home'] ) && $check == 'Home' ) ? '<div class="input_text">input some telephone</div>' : '' ;?>
						<div class="valid"></div>
					</li>
					
					<li><span class="telephone">Work:</span> <input <input onClick="valid.select_telephone_validation($(this))" class="radio" type="radio" name="radio" value="Work" 
						<?= ($check == 'Work') ? 'checked' : '' ?>>
					
						<input data="number" type="text" name="Work" 
						value="<?= ( ! empty ( $post['Work'] ) ) ? $post['Work'] : '';?>"
						size="25">
						<?= ( empty ( $post['Work'] ) && $check == 'Work' && $val == 1 ) ? '<div class="input_text">input some telephone</div>' : '' ;?>
						<div class="valid"></div>
					</li>
						
					<li><span class="telephone">Cell:</span> <input onClick="valid.select_telephone_validation($(this))" class="radio" type="radio" name="radio" value="Cell"
						<?= ($check == 'Cell') ? 'checked' : '' ?>>
					
						<input data="number" type="text" name="Cell" 
						value="<?= ( ! empty ( $post['Cell'] ) ) ? $post['Cell'] : '';?>"
						size="25">
						<?= ( empty ( $post['Cell'] ) && $check == 'Cell' ) ? '<div class="input_text">input some telephone</div>' : '' ;?>
						<div class="valid"></div>
					</li>
					
					<li><span>Adress 1:</span> 
					
						<input data="text" type="text" name="Adress1" onChange="valid.validation($(this))"
							value="<?= ( ! empty ( $post['Adress1'] ) ) ? $post['Adress1'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
						
					<li><span>Adress 2:</span> 
					
						<input data="text" type="text" name="Adress2" onChange="valid.validation($(this))"
							value="<?= ( ! empty ( $post['Adress2'] ) ) ? $post['Adress2'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
					
					<li><span>City:</span> 
					
						<input data="text" type="text" name="City" onChange="valid.validation($(this))"
							value="<?= ( ! empty ( $post['City'] ) ) ? $post['City'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
							
					<li><span>State:</span> 
					
						<input data="text" type="text" name="State" onChange="valid.validation($(this))"
							value="<?= ( ! empty ( $post['State'] ) ) ? $post['State'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
					
					<li><span>Zip:</span> 
					
						<input data="number" type="text" name="Zip" onChange="valid.validation($(this))"
							value="<?= ( ! empty ( $post['Zip'] ) ) ? $post['Zip'] : '';?>" size="25">
							<div class="valid"></div>
					</li>
					
					<li><span>Country:</span> 
						<input data="text" type="text" name="Country" onChange="valid.validation($(this))"
							value="<?= ( ! empty ( $post['Country'] ) ) ? $post['Country'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
					
					<li>
				<?php if(!empty($_GET['id'])) { ?>
				
							<span class="date">Birth Date:</span> 
							<select id="valid-day" onChange="valid.validation($(this))" data="date" size="1" name="day">
							<option value="<?= $backdate ['day']; ?>"><?= $backdate ['day']; ?></option>;
												
					<?php for($i = 1; $i <= 31; $i++) : ?>
					
								<option> value="<?= $i; ?>"><?= $i; ?></option>;	
										
					<?php endfor; ?>
												
							</select> 
							<select id="valid-month" data="date" onChange="valid.validation($(this))" size="1" name="month">
							<option value="<?= $backdate ['month']; ?>"><?= $backdate ['month']; ?></option>;
												
					<?php for($i = 1; $i <= 12; $i++) : ?>
					
								<option value="<?= $i; ?>"><?= $i; ?></option>;
								
					<?php endfor; ?>
												
							</select> 
							<select id='valid-year' data="date" onChange="valid.validation($(this))" size="1" name="year">
							<option value="<?= $backdate ['year']; ?>"><?= $backdate ['year']; ?></option>;
												
					<?php for ( $i = idate ( "Y" )-100; $i <= idate ( "Y" )-18; $i++) : ?>
					
								<option value="<?= $i; ?>"><?= $i; ?></option>;
								
					<?php endfor; ?>
												
							</select>
						<div class="valid"></div>	
				<?php } else { ?>
				
							<span class="date">Birth Date:</span>
							<select id="valid-day" onChange="valid.validation($(this))" data="date" size="1" name="day">	
											
					<?php for($i = 1; $i <= 31; $i++) : ?>
					
								<option value="<?= $i; ?>"><?= $i; ?></option>;	
										
					<?php endfor; ?>
												
							</select>
							<select id="valid-month" onChange="valid.validation($(this))" data="date" size="1" name="month">	
											
					<?php for($i = 1; $i <= 12; $i++) : ?>
					
								<option data="date" data-month="<?= $i; ?>" value="<?= $i; ?>"><?= $i; ?></option>;
								
					<?php endfor; ?>
												
							</select> 
							<select id="valid-year" onChange="valid.validation($(this))" data="date" size="1" name="year">
											
					<?php for($i = idate("Y")-100; $i <= idate("Y")-18; $i++) : ?>
					
								<option value="<?= $i; ?>"><?= $i; ?></option>;
								
					<?php endfor; ?>
												
							</select>
				<?php }?>
						<div class="valid"></div>
					</li>
					
				</ul>
				<div class="done">	
					<input onClick="return valid.submit_stop($(this))" type="submit" name="information" value="Done">
				</div>
			</form>
		</div>
	</div>
	<div class="footer">
		<span>&#169 2015 Wise Engineering</span>
	</div>
	<?= (DEBUG === 1) ? '<div class="debug"><span>' . $test . '</span></div>' : '' ; ?>
</div>

</body>
</html>