<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">

<title>project</title>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/reset.css">

</head>
<body>
<div class="main">
	<div class="header">
	<a href="/"><img src="/img/logotip.png" alt="logotip"></a>
		<div class="header_menu">
			<ul>
				<li class="home"> <a href="<?= $html->url(array()) ?>">Home</a> </li>
				<li class="logout"> <a href="<?= $html->url(array('controller'=>'users', 'action'=>'logout')) ?>">Logout</a> </li>
			</ul>	
		</div>
	</div>
	<div class="content">
		<div class="content_autorization">
			<?= ( ! empty ( $select ) && ! empty ( $id ) ) ?
			
			'<form name="delete" value="delete" method="POST" action="/contacts/delete/' . $id .'"></br>
				you really want to delete - ' . $select['Firstname'] . ' ? </br></br>
				<button name="del" value="Yes">Yes</button>
				<button name="del" value="No">No</button>
			</form>'
		: '' ?>
		</div>
	</div>
	<div class="footer">
		<span>&#169 2007 Wise Engineering</span>
	</div>
</div>
</body>
</html>