<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title>project</title>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/reset.css">

<script src="/js/jquery-2.2.0.js"></script>
<script src="/js/validation.js"></script>

<body>
<div class="main">
	<div class="header">
		<a href="/"><img src="/img/logotip.png" alt="logotip"></a>
		<div class="header_menu">
			<ul>	
				<li><a class="home" href=" <?= $html->url(array()) ?>">Home</a> </li>
				<li><a class="home" href=" <?= $html->url(array('controller'=>'users', 'action'=>'logout')) ?>">Logout</a> </li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="form">
			<form name="editcontact" method="POST"
							action="<?= 'cotacts/edit/' . $get['id'] ?>">
			
			<?php 
			
			foreach ($contactUser as $res ) :

			$backdate = (date_parse ( $res ['BirthDate'] ));

			?>
				<span class="information">Information</span>
				<ul>				
					<li><span>First Name:</span> 
					
						<input data="text" class="input validation" type="text"		
							value="<?= ( ! empty ( $res['Firstname'])) ? $res['Firstname'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
						
					<li><span>Last Name:</span> 
					
						<input data="text" class="input validation" type="text" name="LastName"
							value="<?= ( ! empty ( $res['Lastname'])) ? $res['Lastname'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
					
					<li><span>E-mail:</span>
					
						 <input data="mail" class="input validation" type="email" name="Email"
							value="<?= ( ! empty ( $res['Email'])) ? $res['Email'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
					
					<li><span class="telephone">Home:</span> 
					
						<input class="radio" type="radio" name="radio" value="Home" 
							<?= ($res['Home'] === $res['Telephone']) ? 'checked' : '' ; ?> >
						<input data="number" class="input validation_tel" type="text" name="Home" 
							value="<?= ( ! empty ( $res['Home'])) ? $res['Home'] : '';?>" size="25">
							<div class="valid"></div>
					</li>
					
					<li><span class="telephone">Work:</span> 
					
						<input class="radio" type="radio" name="radio" value="Work"
							<?= ($res['Work'] === $res['Telephone']) ? 'checked' : '' ; ?>>
						<input data="number" class="input validation_tel" type="text" name="Work" 
						value="<?= ( ! empty ( $res['Work'])) ? $res['Work'] : '';?>" size="25">
						<div class="valid"></div>
					</li>
					
					<li><span class="telephone">Cell:</span>
					
						<input class="radio" type="radio" name="radio" value="Cell"
							<?= ($res['Cell'] === $res['Telephone']) ? 'checked' : '' ; ?>>
						<input data="number" class="input validation_tel" type="text" name="Cell" 
						value="<?= ( ! empty ( $res['Cell'])) ? $res['Cell'] : '';?>" size="25">
						<div class="valid"></div>
					</li>
					
					<li><span>Adress 1:</span>
					
						<input data="text" class="input validation" type="text" name="Adress1" 
							value="<?= ( ! empty ( $res['Adress1'])) ? $res['Adress1'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
					
					<li><span>Adress 2:</span>
					
						<input data="text" class="input validation" type="text" name="Adress2" 
							value="<?= ( ! empty ( $res['Adress2'])) ? $res['Adress2'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
					
					<li><span>City:</span> 
					
						<input data="text" class="input validation" type="text" name="City"
							value="<?= ( ! empty ( $res['City'])) ? $res['City'] : '';?>" size="25">
							<div class="valid"></div>
					</li>
					
					<li><span>State:</span>
					 
						<input data="text" class="input validation" type="text" name="State"
							value="<?= ( ! empty ( $res['State'])) ? $res['State'] : '';?>"
							size="25">
							<div class="valid"></div>
					</li>
					
					<li><span>Zip:</span> 
					
						<input data="number" class="input validation" type="text" name="Zip"
							value="<?= ( ! empty ( $res['Zip'] ) ) ? $res['Zip'] : '' ; ?>" size="25">
							<div class="valid"></div>
					</li>
					
					<li><span>Country:</span> 
					
						<input data="text" class="input validation" type="text" name="Country"
							value="<?= ( ! empty ( $res['Country'] ) ) ? $res['Country'] : '' ; ?>"
							size="25">
							<div class="valid"></div>
					</li>
					
					<li>
					
			<?php endforeach; ?>
									
				<?php if(!empty($_GET['id'])) { ?>
									
						<span class="date">Birth Date:</span> 
						<select id="valid-day" data="date" size="1" name="day">
							<option value="<?= $backdate['day']; ?>"><?= $backdate['day']; ?></option>;
												
					<?php for($i = 1; $i <= 31; $i++) : ?>
					
							<option value="<?= $i; ?>"><?= $i; ?></option>;	
									
					<?php endfor; ?>
												
						</select>
						<select id="valid-month" data="date" size="1" name="month">
							<option value="<?= $backdate['month']; ?>"><?= $backdate['month']; ?></option>;
												
					<?php for($i = 1; $i <= 12; $i++) : ?>
					
							<option value="<?= $i; ?>"><?= $i; ?></option>;
							
					<?php endfor; ?>	
												
						</select> 
						<select id="valid-year" data="date" size="1" name="year">
							<option value="<?= $backdate['year']; ?>"><?php echo $backdate['year']; ?></option>;
												
					<?php for($i = idate("Y")-100; $i <= idate("Y")-18; $i++) : ?>
					
							<option value="<?= $i; ?>"><?= $i; ?></option>;
							
					<?php endfor; ?>	
												
						</select>
							<div class="valid"></div>				
				<?php } else { ?>
									
						<span class="date">Birth Date:</span> 
						<select id="valid-day" data="date" size="1" name="day">	
											
					<?php for($i = 1; $i <= 31; $i++) : ?>
					
							<option value="<?= $i; ?>"><?= $i; ?></option>;	
									
					<?php endfor; ?>	
												
						</select> 
						<select id="valid-month" data="date" size="1" name="month">	
											
					<?php for($i = 1; $i <= 12; $i++) : ?>
					
							<option value="<?= $i; ?>"><?= $i; ?></option>;
							
					<?php endfor; ?>	
												
						</select> 
						<select id="valid-year" data="date" size="1" name="year">
											
					<?php for($i = idate("Y")-100; $i <= idate("Y")-18; $i++) : ?>
					
							<option value="<?= $i; ?>"><?= $i; ?></option>;
							
					<?php endfor; ?>
												
						</select>
											
				<?php }?>
					<div class="valid"></div>					
					</li>
				</ul>
				<div class="done" >
					<input type="submit" name="information" value="Done">
				</div>
			</form>
		</div>
	</div>
	<div class="footer">
		<span>&#169 2015 Wise Engineering</span>
	</div>
</div>

</body>
</html>