		<div class="head">
			<div class="header_menu">
			<ul>	
				<li><a class="home" href="<?= $html->url(array()) ?>">Home</a> </li>				
				<li><a class="home" href=" <?= $html->url(array('controller'=>'users', 'action'=>'logout')) ?>">Logout</a> </li>
				<li><a class="home" href=" <?= $html->url(array('controller'=>'contacts', 'action'=>'add')) ?>">Add contact</a></li>
				<li><a class="home" href="<?= $html->url(array('controller'=>'contacts', 'action'=>'letter')) ?>">Letter</a></li>
			</ul>
		</div>
		</div>
		<div class="cont">
			<div id=delete_contact>
				<span id="close" onClick="close_window_for_delete()">X</span> 
				<span id="text"></span>
				<span id="yes" onClick="delete_contact($(this).attr('data'))">Yes</span>
				<span id="no" onClick="close_window_for_delete()">No</span>
				<p id="countdown">windows close - <span></span></p>
			</div>
				<?php if ( ! empty ( $contacts ) ){ ?>
			<div class="cont_top">
					<ul>
							<li>First Name
								<a data="FirstNameUp"  
									<?= ( empty($argument['sortFirst']) || $argument['sortFirst']==='FirstNameUp') ? 'class="active_sortFirst"' : '' ;?> 
										class="sort" href="
										
									<?php if(!empty($argument['sortSecond']))
												{
													echo $html->url(array('sortFirst'=>'FirstNameUp', 'sortSecond'=>$argument['sortSecond'] , 'page'=>$page )); 
												}
												else{
													echo $html->url(array('sortFirst'=>'FirstNameUp', 'page'=>$page ));
												}					
									?>
									">&#8593</a>
								
								<a data="FirstNameDown" 
								<?= ( $argument['sortFirst']==='FirstNameDown' ) ? 'class="active_sortFirst"' : '' ;?>
									class="sort" href="
									
									<?php if(!empty($argument['sortSecond']))
												{
													echo $html->url(array('sortFirst'=>'FirstNameDown', 'sortSecond'=>$argument['sortSecond'] , 'page'=>$page )); 
												}
												else{
													echo $html->url(array('sortFirst'=>'FirstNameDown', 'page'=>$page ));
												}					
									?>
									">&#8595</a>
							</li>
							
							<li>Last Name
							<a data="LastNameUp" 
							<?= ( empty($argument['sortSecond']) || $argument['sortSecond']==='LastNameUp' ) ? 'class="active_sortSecond"' : '' ;?>
									class="sort" href="
									
								<?php if(!empty($argument['sortFirst']))
												{
													echo $html->url(array('sortFirst'=>$argument['sortFirst'], 'sortSecond'=>'LastNameUp' , 'page'=>$page )); 
												}
												else{
													echo $html->url(array('sortSecond'=>'LastNameUp', 'page'=>$page ));
												}					
									?>
								">&#8593</a>
					 
							<a data="LastNameDown" 
							<?= ( $argument['sortSecond']==='LastNameDown' ) ? 'class="active_sortSecond"' : '' ;?>
									class="sort" href="
									
								<?php if(!empty($argument['sortFirst']))
												{
													echo $html->url(array('sortFirst'=>$argument['sortFirst'], 'sortSecond'=>'LastNameDown' , 'page'=>$page )); 
												}
												else{
													echo $html->url(array('sortSecond'=>'LastNameDown', 'page'=>$page ));
												}					
									?>
								">&#8595</a>
						</li>	
						<li>E-mail</li>
						<li>Cellular</li>
						<li>Action</li>
					</ul>
				</div>													
				<?php foreach ( $contacts as $contact ) : ?>
				<div <?= ($contact_class === $i) ? 'class="last-child"' : 'class="string"' ;?> >
						<ul>	
							<li><?= $i . '.'; ?></td></li>
							<li><?= $contact['FirstName']; ?></li>
							<li><?= $contact['LastName']; ?></li>
							<li><?= $contact['Email']; ?></li>
							<li><?= $contact['Telephone']; ?></li>
							<li>
								<a class="edit" href="<?= $html->url(array('controller'=>'contacts', 'action'=>'edit', 'id'=>$contact['id'])) ?>">edit</a> 
								<a class="view" href="<?= $html->url(array('controller'=>'contacts', 'action'=>'view', 'id'=>$contact['id'])) ?>">view</a>
								<a data="<?= $contact['id'] . ', ' .  $contact['FirstName']?>" class="delete" href="<?= $html->url(array('controller'=>'contacts', 'action'=>'delete', 'id'=>$contact['id'])) ?>"></a>
							</li>
						</ul>
				</div>
				
					<?php $i++;?>	
					
					<?php endforeach;?>	
				<div class="cont_bottom_grad"></div>	
				<div class="pagination">
				
					<?php } else { ?>
					
						<span>Your contact book is empty. Please add some contacts.</span>
				
				
					<?php } ;?>
					
					<?php if($count_contacts == 0) { ?>
						
				<?php } else {?>
				
					<ul>
							<li class="back_plase">
							
								<?php  if ($page != 1) : ?>
								
										<a data="<?= $page - 1 ;?>" href="<?php
						
										echo '/';
										
										if( ! empty ($argument['sortFirst']) )
										{
											echo $argument['sortFirst'] . '/' ;
										}
										if( !empty($argument['sortSecond']))
										{
											echo $argument['sortSecond'] . '/';
										}
										
										if ($page == 1) {
											echo '1/';
										} else {
											echo ($page - 1) . '/';
										}
										?>
										
										"><img src="/img/prew.png"></a>
																		
								<?php endif; ?>	
																		
							</li>
						
						<li class="page_plase">
						
							<?php for ($i = $count_for_pagin[0]; $i <= $count_for_pagin[1]; $i++) { ?>
							
								<?php if ($i == $page) { ?>
								
									<a data="<?= $i ;?>" class="page_active" href="
									<?php
											
													echo '/';
														
													if( ! empty ($argument['sortFirst']) )
													{
														echo $argument['sortFirst'] . '/' ;
													}
													if( !empty($argument['sortSecond']))
													{
														echo $argument['sortSecond'] . '/';
													}
													echo $i . '/';
													
													?>
									
									" ><?= $i ?></a>
											
								<?php } else { ?>
								
									<a data="<?= $i ;?>" class="page" href="
									
									<?php
											
													echo '/';
														
													if( ! empty ($argument['sortFirst']) )
													{
														echo $argument['sortFirst'] . '/' ;
													}
													if( !empty($argument['sortSecond']))
													{
														echo $argument['sortSecond'] . '/';
													}
													echo $i . '/';
													
													?>
									
									
									" ><?= $i ?></a>
									
								<?php } ?>
								
							<?php } ?>
						
						</li>				
						<li class="next_plase">	
											 
							<?php if ($page != $count_pages) : ?>
							
							<a data="<?= $page + 1 ;?>" href="<?php
								
										echo '/';
											
										if( ! empty ($argument['sortFirst']) )
										{
											echo $argument['sortFirst'] . '/' ;
										}
										if( !empty($argument['sortSecond']))
										{
											echo $argument['sortSecond'] . '/';
										}
									  echo ( $page + 1 ) . '/' ;
									  
									 ?>
							"><img src="/img/next.png"></a>
							
																	
							<?php endif; ?>	
															
						</li>
					</ul>
			</div>	
			<?php } ?>
		</div>
		<?php  $argument = json_encode($argument) ?>
<script>
	url = <?= $argument?>;
</script>