		<div class="head">
			<div class="header_menu">
			<ul>	
				<li><a class="home btn btn-inverse" href="<?= $html->url(array()) ?>">
						<i class="icon-home icon-white"></i> Home</a>
				</li>				
				<li><a class="home btn btn-inverse" href=" <?= $html->url(array('controller'=>'users', 'action'=>'logout')) ?>">
						<i class="icon-off icon-white"></i> Logout</a>
				</li>
				<li><a class="home btn btn-inverse" href=" <?= $html->url(array('controller'=>'contacts', 'action'=>'add')) ?>">
						<i class="icon-plus icon-white"></i> Add contact</a>
				</li>
				<li><a class="home btn btn-inverse" href="<?= $html->url(array('controller'=>'contacts', 'action'=>'letter')) ?>">
						<i class="icon-envelope icon-white"></i>	Letter</a>
				</li>
			</ul>
		</div>
		</div>
		<div class="cont">
			<div id=delete_contact>
				<span id="close">X</span> 
				<span id="text"></span>
				<span id="yes">Yes</span>
				<span id="no">No</span>
				<p id="countdown">windows close - <span></span></p>
			</div>
				<?php if ( ! empty ( $contacts ) ){ ?>
				<table class="table">
						<tr class="top">
							<th></th>
							<th>First Name
								<a data="FirstNameUp"  
									<?= ( empty($argument['sortFirst']) || $argument['sortFirst']==='FirstNameUp') ? 'class="active_sortFirst"' : '' ;?> 
										class="sort" href="
										
									<?php if(!empty($argument['sortSecond']))
												{
													echo $html->url(array('sortFirst'=>'FirstNameUp', 'sortSecond'=>$argument['sortSecond'] , 'page'=>$page )); 
												}
												else{
													echo $html->url(array('sortFirst'=>'FirstNameUp', 'page'=>$page ));
												}					
									?>
									">&#8593</a>
								
								<a data="FirstNameDown" 
								<?= ( $argument['sortFirst']==='FirstNameDown' ) ? 'class="active_sortFirst"' : '' ;?>
									class="sort" href="
									
									<?php if(!empty($argument['sortSecond']))
												{
													echo $html->url(array('sortFirst'=>'FirstNameDown', 'sortSecond'=>$argument['sortSecond'] , 'page'=>$page )); 
												}
												else{
													echo $html->url(array('sortFirst'=>'FirstNameDown', 'page'=>$page ));
												}					
									?>
									">&#8595</a>
							</th>
							
							<th>Last Name
							<a data="LastNameUp" 
							<?= ( empty($argument['sortSecond']) || $argument['sortSecond']==='LastNameUp' ) ? 'class="active_sortSecond"' : '' ;?>
									class="sort" href="
									
								<?php if(!empty($argument['sortFirst']))
												{
													echo $html->url(array('sortFirst'=>$argument['sortFirst'], 'sortSecond'=>'LastNameUp' , 'page'=>$page )); 
												}
												else{
													echo $html->url(array('sortSecond'=>'LastNameUp', 'page'=>$page ));
												}					
									?>
								">&#8593</a>
					 
							<a data="LastNameDown" 
							<?= ( $argument['sortSecond']==='LastNameDown' ) ? 'class="active_sortSecond"' : '' ;?>
									class="sort" href="
									
								<?php if(!empty($argument['sortFirst']))
												{
													echo $html->url(array('sortFirst'=>$argument['sortFirst'], 'sortSecond'=>'LastNameDown' , 'page'=>$page )); 
												}
												else{
													echo $html->url(array('sortSecond'=>'LastNameDown', 'page'=>$page ));
												}					
									?>
								">&#8595</a>
							</th>	
							<th>E-mail</th>
							<th>Cellular</th>
							<th>Action</th>
						</tr>					
					<tbody>												
				<?php foreach ( $contacts as $contact ) : ?>
						<tr>	
							<td><?= $i . '.'; ?></td>
							<td><?= $contact['FirstName']; ?></td>
							<td><?= $contact['LastName']; ?></td>
							<td><?= $contact['Email']; ?></td>
							<td><?= $contact['Telephone']; ?></td>
							<td class="action">
								<a class="edit" href="<?= $html->url(array('controller'=>'contacts', 'action'=>'edit', 'id'=>$contact['id'])) ?>">edit</a> 
								<a class="view" href="<?= $html->url(array('controller'=>'contacts', 'action'=>'view', 'id'=>$contact['id'])) ?>">view</a>
								<a data="<?= $contact['id'] . ', ' .  $contact['FirstName']?>" class="delete" href="<?= $html->url(array('controller'=>'contacts', 'action'=>'delete', 'id'=>$contact['id'])) ?>"></a>
							</td>
				
					<?php $i++;?>	
					
					<?php endforeach;?>	
						</tr>
						</tbody>
					</table>
				<div class="cont_bottom_grad"></div>	
				<div class="pagination">
				
					<?php } else { ?>
					
						<span>Your contact book is empty. Please add some contacts.</span>
				
				
					<?php } ;?>
					
					<?php if($count_contacts == 0) { ?>
						
				<?php } else {?>
				
					<ul>
							<li class="back_plase">
										<a class="arrow" data="1" href="<?php
						
										echo '/';
										
										if( ! empty ($argument['sortFirst']) )
										{
											echo $argument['sortFirst'] . '/' ;
										}
										if( !empty($argument['sortSecond']))
										{
											echo $argument['sortSecond'] . '/';
										}
											echo '1/';
										?>"
										>&#xf04a</a>
								<?php  if ($page != 1) : ?>
								
										<a class="prew" data="<?= $page - 1 ;?>" href="<?php
						
										echo '/';
										
										if( ! empty ($argument['sortFirst']) )
										{
											echo $argument['sortFirst'] . '/' ;
										}
										if( !empty($argument['sortSecond']))
										{
											echo $argument['sortSecond'] . '/';
										}
										
										if ($page == 1) {
											echo '1/';
										} else {
											echo ($page - 1) . '/';
										}
										?>
										
										"><img src="/img/prew.png"></a>
																		
								<?php endif; ?>	
																		
							</li>
						
						<li class="page_plase">
						
							<?php for ($i = $count_for_pagin[0]; $i <= $count_for_pagin[1]; $i++) { ?>
							
								<?php if ($i == $page) { ?>
								
									<a data="<?= $i ;?>" class="page_active" href="
									<?php
											
													echo '/';
														
													if( ! empty ($argument['sortFirst']) )
													{
														echo $argument['sortFirst'] . '/' ;
													}
													if( !empty($argument['sortSecond']))
													{
														echo $argument['sortSecond'] . '/';
													}
													echo $i . '/';
													
													?>
									
									" ><?= $i ?></a>
											
								<?php } else { ?>
								
									<a data="<?= $i ;?>" class="page" href="
									
									<?php
											
													echo '/';
														
													if( ! empty ($argument['sortFirst']) )
													{
														echo $argument['sortFirst'] . '/' ;
													}
													if( !empty($argument['sortSecond']))
													{
														echo $argument['sortSecond'] . '/';
													}
													echo $i . '/';
													
													?>
									
									
									" ><?= $i ?></a>
									
								<?php } ?>
								
							<?php } ?>
						
						</li>				
						<li class="next_plase">	
											 
							<?php if ($page != $count_pages) : ?>
							
							<a class="next" data="<?= $page + 1 ;?>" href="<?php
								
										echo '/';
											
										if( ! empty ($argument['sortFirst']) )
										{
											echo $argument['sortFirst'] . '/' ;
										}
										if( !empty($argument['sortSecond']))
										{
											echo $argument['sortSecond'] . '/';
										}
									  echo ( $page + 1 ) . '/' ;
									  
									 ?>
							"><img src="/img/next.png"></a>
							
																	
							<?php endif; ?>	
							<a class="arrow" data="<?= $count_pages; ?>" href="<?php
								
										echo '/';
											
										if( ! empty ($argument['sortFirst']) )
										{
											echo $argument['sortFirst'] . '/' ;
										}
										if( !empty($argument['sortSecond']))
										{
											echo $argument['sortSecond'] . '/';
										}
									  echo $count_pages . '/' ;
									  
									 ?>"
							>&#xf04e</a>							
						</li>
					</ul>
			</div>	
			<?php } ?>
		</div>
