<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title></title>

</head>
<body>
	<ul>
		<?php if ( empty ( $_SESSION ['id'] ) ) { ?>
		 
		<?= '<li> <a href="user/autorization">Autorization</a> </li>' ?>
		<?= '<li> <a href="user/registration">Registration</a> </li>' ?>
		
		<?php } else { ?>
		
		<?= '<li> <a href="/">Home</a> </li>' ?>
		<?= '<li> <a href="/users/logout">Logout</a> </li>' ?>
		
		<?php }; ?>
		
	</ul>
	<form name="selectcontact" method="POST">
		
		<table border="0">
			<tr>
				<th>
					 <?php if( empty ( $argument['all'] ) ) 
									{
										 echo	'<a href="' . $_SERVER ['REQUEST_URI'] . 'all">Select all </a>' ;
									}
									else{
											echo '<a href="/contacts/select/';
												
											if( ! empty ($argument['sort']) && ! empty ($argument['sortparam']) )
											{
												echo $argument['sortparam'] . '/' . $argument['sort'] . '/' ;
											}
											echo $page . '/';
											
											echo '"\>All off</a>';
									}					
						?>
				</th>
				
				<th>First Name
				
					<a 
						href="<?=  ( $page > 1 ) ? '/contacts/select/FirstName/asc/' . $page . '/' 
														: '/contacts/select/FirstName/asc/' ; 							
														
								?>" style="margin: 0 10px;">&#8593 
					</a>
					
					 <a
						href="<?= ( $page > 1 ) ? '/contacts/select/FirstName/desc/' . $page . '/' 
														: '/contacts/select/FirstName/desc';
						
								?>">&#8595 
					</a>
					
				</th>
				<th>Last Name
				
					<a  
						href="<?= ( $page > 1 ) ? '/contacts/select/LastName/asc/' . $page . '/' 
														: '/contacts/select/LastName/asc/';
						
								?>" style="margin: 0 10px;">&#8593 
					</a> 
					
					<a
						href="<?= ( $page > 1 ) ? '/contacts/select/LastName/desc/' . $page . '/' 
														: '/contacts/select/LastName/desc/'; 
														
								?>">&#8595 
					</a>
				
				</th>
				<th>E-mail</th>
				<th>Cellular</th>
			</tr>
				
		<?php foreach ( $contacts as $contact ) : ?>		
				<tr>
				<td> 
					<input type="checkbox" name="<?= $contact['id']; ?>" value="<?= $contact['Email']; ?>" 
									
									<?php if( ! empty ($argument['all']) )
											{	
												echo 'checked';
											}
											elseif( ! empty ($checked) )
											{	
												foreach ( $checked as $check )
												{
													if ($contact['id'] == $check)
													{
														echo 'checked';
													}
												}
											}
											
									?>
					>
				</td>
				<td><?= $contact['FirstName']; ?></td>
				<td><?= $contact['LastName']; ?></td>
				<td><?= $contact['Email']; ?></td>
				<td><?= $contact['Telephone']; ?></td>
				<?php $i++; ?>
			</tr>	
			
		<?php endforeach;?>	
										
		</table>
		</br> <input type="submit" name="Select" value="Accept" formaction="/contacts/letter/"><a href="/">Cancel</a></br>
			
		</br> 
		<ul>
			<li>
				<?php  if ($page != 1) : ?>
						
				<input type="submit" name="page" value="Back" formaction="<?php
				
								echo '/contacts/select/';
								
								if( ! empty ($argument['sort']) && ! empty ($argument['sortparam']) )
								{
									echo $argument['sortparam'] . '/' . $argument['sort'] . '/' ;
								}
								
								if ($page == 1) {
									echo '1/';
								} else {
									echo ($page - 1) . '/';
								}
								?>"
				>
								
						
						
					<?php endif; ?>	
														
			</li>
			
			<li>
					<?php for ($i = $count_for_pagin[0]; $i <= $count_for_pagin[1]; $i++) { ?>
						
									<input type="submit" name="page" value="<?=$i?>" formaction="<?php
									
											echo '/contacts/select/';
												
											if( ! empty ($argument['sort']) && ! empty ($argument['sortparam']) )
											{
												echo $argument['sortparam'] . '/' . $argument['sort'] . '/' ;
											}
											echo $i . '/';
											
											?>"
									>

						
					<?php } ?>
						
				</li>
			<li>								 
				<?php if ($page != $count_pages) : ?>
				
						<input type="submit" name="page" value="Next" formaction="<?php
						
								echo '/contacts/select/';
									
								if( ! empty ($argument['sort']) && ! empty ($argument['sortparam']) )
								{
										echo $argument['sortparam'] . '/' . $argument['sort'] . '/' ;
								}
							  echo ( $page + 1 ) . '/' ;
							  
							 ?>"
						 >
					
													
				<?php endif; ?>	
			</form>									
			</li>
		</ul>
</body>
</html>
