<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title>project</title>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/reset.css">

</head>
<body>
<div class="main">
	<div class="header">
	<form name="selectcontact" method="POST">
		<a href="/"><img src="/img/logotip.png" alt="logotip"></a>
		<div class="header_menu">
			<ul>	 
				<li><a class="home" href="<?= $html->url(array()) ?>">Home</a> </li>
				<li> <a class="home" href=" <?= $html->url(array('controller'=>'users', 'action'=>'logout')) ?>">Logout</a> </li>
				<li><a class="home" class="letter" href="/">Cancel</a></li>	
				<li class="accept"><input type="submit" name="Select" value="Accept" formaction="/contacts/letter/"></li>			
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="contact">		
			<table class="table" border="0">
				<tr class="top">
					<th class="all">
						 <?php if( empty ( $argument['all'] ) ) 
										{
											 echo	'<a href="' . $_SERVER ['REQUEST_URI'] . 'all">All </a>' ;
										}	
										else{
												echo '<a href="/contacts/select/';
												
												if( ! empty ($argument['sort']) && ! empty ($argument['sortparam']) )
												{
													echo $argument['sortparam'] . '/' . $argument['sort'] . '/' ;
												}
												echo $page . '/';
											
												echo '"\>Off</a>';
										}					
						?>
					</th>
					
					<th class="table_menu">First Name
					
						<input  <?= ( empty($argument['sortparam']) && empty($argument['sort']) || 
													$argument['sortparam']==='FirstName' && $argument['sort']==='asc' ) ? 'class="active_sort"' : '' ;?> 
							class="sort" type="submit" name="sort" value="&#8593" formaction=" 
							<?=  ( $page > 1 ) ?  $html->url(array('controller'=>'contacts', 'action'=>'select', 
																										'sort'=>'FirstName', 'sortparam'=>'asc', 'page'=>$page)) 
																										
															: $html->url(array('controller'=>'contacts', 'action'=>'select', 
																										'sort'=>'FirstName', 'sortparam'=>'asc')); 							
															
									?>" >
						
						
						<input <?= ( $argument['sortparam']==='FirstName' && $argument['sort']==='desc' ) ? 'class="active_sort"' : '' ;?>
							class="sort" type="submit" name="sort" value="&#8595" formaction=" 
							<?= ( $page > 1 ) ? $html->url(array('controller'=>'contacts', 'action'=>'select', 
																										'sort'=>'FirstName', 'sortparam'=>'desc', 'page'=>$page)) 
																										
															: $html->url(array('controller'=>'contacts', 'action'=>'select', 
																										'sort'=>'FirstName', 'sortparam'=>'desc'));
							
									?>">
						
						
					</th>
					<th class="table_menu">Last Name
					
						<input <?= ( $argument['sortparam']==='LastName' && $argument['sort']==='asc' ) ? 'class="active_sort"' : '' ;?>
							class="sort" type="submit" name="sort" value="&#8593" formaction="  
							<?= ( $page > 1 ) ?  $html->url(array('controller'=>'contacts', 'action'=>'select', 
																										'sort'=>'LastName', 'sortparam'=>'asc', 'page'=>$page)) 
																										
															: $html->url(array('controller'=>'contacts', 'action'=>'select', 
																										'sort'=>'LastName', 'sortparam'=>'asc')); 
							
									?>" >
					 
						
						<input <?= ( $argument['sortparam']==='LastName' && $argument['sort']==='desc' ) ? 'class="active_sort"' : '' ;?>
							class="sort" type="submit" name="sort" value="&#8595" formaction=" 
							<?= ( $page > 1 ) ? $html->url(array('controller'=>'contacts', 'action'=>'select', 
																										'sort'=>'LastName', 'sortparam'=>'desc', 'page'=>$page)) 
																										
															: $html->url(array('controller'=>'contacts', 'action'=>'select', 
																										'sort'=>'LastName', 'sortparam'=>'desc')); 
															
									?>">
					
					</th>
					<th class="table_menu">E-mail</th>
					<th class="cell_plase">Cellular</th>
				</tr>
					
			<?php foreach ( $contacts as $contact ) : ?>		
					<tr class="line">
					<td> 
						<input class="check" type="checkbox" name="<?= $contact['id']; ?>" value="<?= $contact['Email']; ?>" 
										
										<?php if( ! empty ($argument['all']) )
												{	
													echo 'checked';
												}
												elseif( ! empty ($checked) )
												{	
													foreach ( $checked as $check )
													{
														if ($contact['id'] == $check)
														{
															echo 'checked';
														}
													}
												}
												
										?>
						>
					</td>
					<td class="name"><?= $contact['FirstName']; ?></td>
					<td class="name"><?= $contact['LastName']; ?></td>
					<td class="emails"><?= $contact['Email']; ?></td>
					<td class="telephone"><?= $contact['Telephone']; ?></td>
					<?php $i++; ?>
				</tr>	
				
			<?php endforeach;?>	
											
			</table>
			<div class="pagination">
	 
				<ul>
					<li class="back_plase">
						<?php  if ($page != 1) : ?>
								
						<input class="back" type="submit" name="page" value="" formaction="<?php
						
										echo '/contacts/select/';
										
										if( ! empty ($argument['sort']) && ! empty ($argument['sortparam']) )
										{
											echo $argument['sortparam'] . '/' . $argument['sort'] . '/' ;
										}
										
										if ($page == 1) {
											echo '1/';
										} else {
											echo ($page - 1) . '/';
										}
										?>"
						>
										
								
								
							<?php endif; ?>	
																
					</li>
					
					<li class="page_plase">
							<?php for ($i = $count_for_pagin[0]; $i <= $count_for_pagin[1]; $i++) { ?>
									<?php if ($i == $page) { ?>
							
										<input class="page_active" type="submit" name="page" value="<?=$i?>" formaction="<?php
											
													echo '/contacts/select/';
														
													if( ! empty ($argument['sort']) && ! empty ($argument['sortparam']) )
													{
														echo $argument['sortparam'] . '/' . $argument['sort'] . '/' ;
													}
													echo $i . '/';
													
													?>"
											>
										
									<?php } else { ?>
											<input class="page" type="submit" name="page" value="<?=$i?>" formaction="<?php
											
													echo '/contacts/select/';
														
													if( ! empty ($argument['sort']) && ! empty ($argument['sortparam']) )
													{
														echo $argument['sortparam'] . '/' . $argument['sort'] . '/' ;
													}
													echo $i . '/';
													
													?>"
											>
										<?php } ?>
								
							<?php } ?>
								
						</li>
					<li class="next_plase">								 
						<?php if ($page != $count_pages) : ?>
						
								<input class="next" type="submit" name="page" value="" formaction="<?php
								
										echo '/contacts/select/';
											
										if( ! empty ($argument['sort']) && ! empty ($argument['sortparam']) )
										{
												echo $argument['sortparam'] . '/' . $argument['sort'] . '/' ;
										}
									  echo ( $page + 1 ) . '/' ;
									  
									 ?>"
								 >
							
															
						<?php endif; ?>	
					</form>									
					</li>
				</ul>
			</div
		</div>
	</div>
	<div class="footer">
		<span>&#169 2007 Wise Engineering</span>
	</div>
</div>
</body>
</html>
